@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 
  /* background: linear-gradient(to top right, #afb2df, #c5b1d7,#DAAFD4, #f5ACCA,#f9BCD1); */
  background: linear-gradient(to top right, #b6b7d0, #c9bed2,#cdb7ca, #f1c6d8,#f9BCD1);
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  /* background: rgba(124, 24, 24, 0.15); */
  box-shadow: 0 8px 32px 0 rgba(31, 37, 135, 0.37);
  /* backdrop-filter: blur(8.5px) ; */
  /* background-color: brown; */
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.wt h2 {
  font-family: 'Raleway', sans-serif;
  margin: 3rem 0 5rem 0;
  
}

.inputcont input {
  background: rgba(255,255,255,0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 2rem;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border: none;
  outline: none;
  margin-bottom: 30px;
  
}
.inputcont1 input {
  background: rgba(255,255,255,0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 2rem;
  width: 80%;

  
 
  height: 3rem;
  padding: 1rem;
  border: none;
  outline: none;
  margin-bottom: 30px;
}

.btn {
  background: rgba(0, 0, 0, 0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 2rem;
  width: 85%;
  height: 3rem;
  padding: 1rem;
  border: none;
  outline: none;
  margin-top: 100px;
  margin-bottom: 30px;
  cursor: pointer;
}

.fp a {
  text-decoration: none;
  display: flex;
  color: black;
}

.acc a{
  text-decoration: none;
  color: black;
}

.container-1 {
  background: whitesmoke;
  padding-left: 10%;
  padding-right: 10%;
}