.win {
    padding: 50px 0px 0px 0px !important;
}

body{
    background-color: #f2f2f2;
}

.form {
    background-color: #fff;
    width: 300px;
    margin: auto;
    padding: 25px;
    border-radius: 5px;
    text-align: center;
}

.form h4 {
    color: #000;
    text-decoration: none;
}

.form input{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    margin: 10px 0;
}

.form button{
    background-color: #000;
    width: 100%;
    color: white;
    border-radius: 50px;
    text-align: center;
    padding: 10px 8;
    margin: 20px 0;
}
.Create-Acc{
    text-decoration: none;
    color: #000;
    font-size: medium;
}
.Forgot-Pass{
    text-decoration: none;
    color: #000;
    font-size: small;
}