.img{
    width: 100%;
    height: 83vh;
   
    /* margin: auto; */
    
}



/* .banner {
    background-image: url("../../images/cover.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
  } */
  
 
  .banner > h1 {
    margin: 5vmax;
  
    font: 600 2.5vmax "Roboto";
  }
  
  .banner > p {
    font: 300 1.4vmax "Lucida Sans";
  }
  
  .banner > a > button {
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font: 500 1vmax "Roboto";
  }
  .banner > a > button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white;
  }
  
  .banner::after {
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: #ffffff;
    position: absolute;
    top: 0%;
    left: 0;
    clip-path: polygon(100% 68%, 0 100%, 100% 100%);
    max-width: 100%;
  }
  
  .homeHeading {
    text-align: center;
    font-family: Roboto;
    font-size: 1.4vmax;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color: rgb(0, 0, 0, 0.7);
  }

  .trending {
    margin: 1% 1%;
    display: flex;
    justify-content:center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  .info h3 {
    color: white;
  }

  .trending img {
    /* border-radius: 5px; */
    /* background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../../images/f1.jpg); */
    width: 30vmax;
    height: 65vh;
    /* margin-bottom: 5%; */
   
  }

  .cat1  {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .cat1 button {
    border: none;
    width: 25%;
   height: 6vh;
   transition: 0.3s;
  
  }

   .b1 
  {
      /* background: #ffc6c5;  */
      background: white;
  } 

   .b2
  {
    /* background: #d0f1ff; */
    background: white;
  }

   .b3 
  {
    /* background: #d6f4dc; */
    background: white;
  }

  .cat-head{
    color: black;
    font-style: bold;
  }

  .see-more{
    text-decoration: none;
    font-style: italic;
  }
  
  .cat1 button:hover {
    width: 25%;
    /* height: 7vh; */
    background: #000;
    color: #d0f1ff;
  
  }



  .banner1 {
    margin-top: 7%;
  }

  .banner1 img {
    width: 100%;
    height: 40vh;
  }
  
  .container {
    display: flex;
    /* margin: 2vmax auto; */
    /* width: 80vw; */
    flex-wrap: wrap;
    /* justify-content:space-around; */
    gap: 7rem;
    /* max-width: 100%; */
  }
  
  .productCard {
    
    width: 23vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    /* margin: 2vmax; */
    background:white;
    z-index: 1;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
    box-shadow: 1px 1px 10px 0px gray;
    /* border: 1px solid gray; */ 
   border-radius: 15px;
  }
  
  .productCard > img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: none;
    border-bottom-left-radius: none;
   
    width: 100%;
    height: 54vh;
    z-index: -1;
  }
  
  .productCard > div {
    /* margin: 0.5vmax; */
   
    display: flex;
    justify-content: flex-start;
    align-items: center;
     
  }



  .cart1 {
    display: flex;
    gap: 15rem;
  }
 
  
  .cart1  span{
    margin: 0.5vmax;
    color: tomato;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1vmax;

  }
  
  .productCard > p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
   
  }
  
  /* .productCard > span {
    margin: 0.5vmax;
    color: tomato;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1vmax;
  } */
  
  .productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  
    transform: translateY(-1vmax);
  }
  

  .row h3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 1;
    border: 1px solid gray;
    height: 10vh;
    border-radius:15px;
    margin: 0% 5% 5% 5%;
    background: #ffc6c5;
    box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.3); 
  }

  .row:nth-last-child(2) h3
  {
    background: #000;
  }
  @media screen and (max-width: 600px) {
    .productCard > p {
      font-size: 1.7vmax;
    }
  
    .productCard > div {
      margin: 0vmax;
      display: block;
    }
  
    .productCard > span {
      font-size: 1.5vmax;
    }
  
    .productCard > div > span {
      margin: 0 0.5vmax;
      font: 300 1vmax "Roboto";
    }
  }
  